<nav>

    <div class="brand-box">
        <div class="logo-main">
            <a href="/"><img src="/images/favicon.png" alt="CIEFAL Logo"></a>
        </div>
        <div class="name-box">
            <a href="/">
                <p class="name">ciefal</p>
            </a>
            <p class="full-name"><strong>C</strong>ambridge <strong>I</strong>nstitute of <strong>E</strong>nglish
                <strong>F</strong>or <strong>A</strong>dvanced <strong>L</strong>earning
            </p>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a href="/courses">courses</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </div>

</nav>