<%- layout('layout') %>

    <section class="hero">
        <div class="headline flex">
            <h1 class="title fnt-normal">
                Welcome to <strong class="bold">Cambridge</strong>
                <strong class="bold">Institute</strong> of <strong class="bold">English</strong>
                <strong class="bold">For</strong> <strong class="bold">Advanced </strong>
                <strong class="bold">Learning</strong>
            </h1>
            <br />
            <h2 class="sub-title fnt-normal"><span class="bold">"</span>Your <strong class="bold">final
                    destination</strong> for
                expert Learning...<span class="bold">"</span>
            </h2>
        </div>
        <div class="features-box">
            <div class="box">spoken english</div>
            <div class="box">voice n accent</div>
            <div class="box">ielts/tofel</div>
            <div class="box">teacher trainnig</div>
        </div>
    </section>

    <section>

    </section>

    <div class="to-top">
        <p><a href="#">🔝</a></p>
    </div>