<%- layout('layout') %>

    <nav>

        <div class="brand-box">
            <img src="/images/favicon.png" alt="CIEFAL Logo">
            <div class="name-box">
                <p class="name">ciefal</p>
                <p class="full-name"><strong>C</strong>ambridge <strong>I</strong>nstitute of <strong>E</strong>nglish
                    <strong>F</strong>or <strong>A</strong>dvanced <strong>L</strong>earning
                </p>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/courses">courses</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>

    </nav>