<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | CIEFAL
    </title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <!-- <script type="module" src="/scripts/vercel-analytics.js"></script> -->
</head>

<body>
    <header>
        <!-- Add your header content here -->
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>

</html>